/*

MAIN HEADER

*/

#main-header {
  display: flex;
  align-items: center;
  padding: 15px 50px 50px 30px;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #fff8e7;
}

#top-nav {
  color: red;
  padding-left: 150px;
}

#blank {
  padding: 215px;
}

#conclusion {
  background-color: #f8f9fa;
  padding: 20px;
}

/* 

LOGIN PAGE CSS

*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 90%;
}

.login h2 {
  text-align: center;
}

.login form {
  margin-top: 20px;
}

.login input[type="email"],
.login input[type="password"],
.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  background-color: #2980b9;
}

.login p {
  text-align: center;
  margin-top: 10px;
}

/* 

REGISTER PAGE CSS

*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.register {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 90%;
}

.register h2 {
  text-align: center;
}

.register form {
  margin-top: 20px;
}

.register input[type="name"],
.register input[type="phone"],
.register input[type="email"],
.register input[type="password"],
.register input[type="submit"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register input[type="checkbox"] {
  align-items: center;
}

.register input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register input[type="submit"]:hover {
  background-color: #2980b9;
}

.register p {
  text-align: center;
  margin-top: 5px;
}
