/* Header Styles */
#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #fff8e7;
}

/* Top Navigation Styles */
#top-nav {
  color: red;
  padding-left: 15px;
}

/* Blank Space Styles */
#blank {
  padding: 15px 0;
}

/* Conclusion Section Styles */
#conclusion {
  background-color: #f8f9fa;
  padding: 20px;
}

/* Contact Form Styles */
.Contact-us {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
  display: grid;
  gap: 15px;
}

/* Label Styles */
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Input and Textarea Styles */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #555;
}

/* Contact Preferences Styles */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Submit Button Styles */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Footer Styles */
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

/* Copyright Styles */
marquee {
  font-size: 14px;
  color: #6c757d;
  padding: 5px 0;
}

/* Watches Section Styles */
.watches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.watches img {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.watch-image {
  width: 100%;
  height: auto;
}

.watches img:hover {
  transform: scale(1.1);
}

/* Watches Item Styles */
.watches1 {
  flex: 0 0 calc(48% - 20px);
  margin-bottom: 20px;
}

/* Adjust the Width for Smaller Screens */
@media (max-width: 768px) {
  .watches1 {
    flex: 0 0 100%;
  }
}

/* Button Success Styles */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

/* Carousel Control Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.5);
}

.carousel-control-prev,
.carousel-control-next {
  color: grey;
}
