<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Watch Product - Chrystalis</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div id="logo" style="padding-bottom: 10px">
                    <img src="img/logo.png" alt="TopLeft Logo" style="padding-left: 50px; width: 35%; height: 35%" />
                </div>

                <form class="d-flex flex-grow-1 mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="top-nav" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="product-details" class="container mt-4">
            <!-- Product 1 -->
            <div class="watches">
                <div class="watches1">
                    <!-- Link to Product 1 Page -->
                    <a href="product1.html">
                        <img src="https://www.michaeljonesjeweller.co.uk/cdn/shop/products/WBP1112.FT6199_1296x.jpg?v=1681821780" alt="Watch 1" class="img-fluid">
                    </a>
                </div>
                <div class=" watches1">
                    <h2>TAG HEUER Aquaracer Professional 40mm 200m Solargraph Quartz Watch WBP1112.FT6199</h2>
                    <p>The TAG Heuer Aquaracer Professional 200 Solargraph is a new take on a watch made for the outdoors. The first ever solar-powered TAG Heuer integrates the innovative Solargraph module to harness the sun’s limitless energy. The future is now.</p>
                    <p><b>Price:£2,700.00</b>
                    </p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </div>

            <!-- Product 2 -->
            <div class="watches">
                <div class="watches1">
                    <!-- Link to Product 2 Page -->
                    <a href="product2.html">
                        <img src="https://content.thewosgroup.com/productimage/17330971/17330971_1.jpg?impolicy=zoom" alt="Watch 2" class="img-fluid">
                    </a>
                </div>
                <div class="watches1">
                    <h2>OMEGA De Ville Mens Co-Axial 39.5mm Automatic Watch</h2>
                    <p>
                        The ever-popular De Ville Prestige collection showcases timeless elegance and sophistication. This collection pays homage to De Ville's heritage, featuring the renowned 2500 calibre movement. The watch boasts a 39.5mm stainless steel case that seamlessly pairs with a black leather strap, adding a touch of refinement to its design. </p>
                    <p><b>Price:£3,200.00</b></p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </div>
          

        </section>
    </main>
    <footer>
        <section id="conclusion">
            <div class="copyright-bottom">
                <marquee>Copyright © 2023 Chrystalis. All rights reserved</marquee>
            </div>
        </section>
    </footer>

</body>

</html>
