<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
       <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="mysql"/> <!-- Change to MySQL -->
    <env name="DB_DATABASE" value="chrystaliswebsitedatabase"/> <!-- Change to your database name -->
    <env name="DB_HOST" value="127.0.0.1"/> <!-- Change to your database host -->
    <env name="DB_PORT" value="3306"/> <!-- Change to your database port -->
    <env name="DB_USERNAME" value="root"/> <!-- Change to your database username -->
    <env name="DB_PASSWORD" value=""/> <!-- Change to your database password -->
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
</php>

    </php>
</phpunit>
